.s-three {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card {
    width: 50%;
    height: auto;
    border-radius: 20px;
    background: #00004C;
    box-shadow: 2px 0 0 #a30eff, -2px 0 0 #a30eff, 0 2px 0 #a30eff,
        0 -2px 0 #a30eff, 1px 1px #a30eff, -1px -1px 0 #a30eff,
        1px -1px 0 #a30eff, -1px 1px 0 #a30eff;
}

@media screen and (max-width: 750px) {
    .card {
        width: 90%;
    }
  }

.card h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 10px 0;
    font-size: 1.5em;
}

.card p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}