@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.s-two {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  padding: 20px;
  height: 100vh;
}

@media screen and (max-width: 750px) {
  .s-two {
    height: auto;
  }
}

h2 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  margin-bottom: 40px;
  margin-top: 70px;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.tarjeta {
  width: 90%;
  margin: 20px;
  text-align: center;
  box-sizing: border-box; /* Asegúrate de que el padding y border no aumenten el ancho */  
}

@media screen and (min-width: 750px) {
  .tarjeta {
    width: calc(50% - 40px); /* 2 tarjetas por fila, 20px de margen a cada lado */
    margin: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .tarjeta {
    width: calc(33.333% - 40px); /* 3 tarjetas por fila, 20px de margen a cada lado */
    margin: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .tarjeta {
    width: calc(25% - 40px); /* 4 tarjetas por fila, 20px de margen a cada lado */
    margin: 20px;
  }
}
.circulo-icono {
  width: 80px;
  height: 80px;
  background-color:  #a30eff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

h3 {
  text-transform: uppercase;
  color: rgb(215, 213, 213);
  margin: 10px 0;
  font-size: 1.5em;
}

p {
  color: rgb(208, 207, 207);
}

